*{
    margin:0;
    padding:0;
}

.navbar{
    width: 100%;
    height: 80px;
    background: rgba(217, 217, 217, 0.5);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 194px;
    height: 44px;
    margin-left: 27px;
      color:#000;
    text-decoration: none;
    font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 32px;
}

.button-Hamburger{
    display: none;
    height: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 65px;
    
}
.menu div{
    font-family: 'Roboto';
}

.home{
    width: 46px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.home a{
    text-decoration: none;
    color: #000;
}

.home a:hover{
    text-decoration: underline;
}
.about{
    width: 86px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
}

.about a{
    text-decoration: none;
    color: #000;
}
.about a:hover{
    text-decoration: underline ;
}


.port{
    width: 86px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;

}

.port a{
    text-decoration: none;
    color: #000;
}

.port a:hover{
    text-decoration: underline;
}

.contact{
    width: 73px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    margin-right: 50px;
 
}

.contact a{ 
    text-decoration: none;
    color:#000;
}

.contact a:hover{
    text-decoration-line: underline;
}

.box{
    max-width: 900px;
    width: 90%;
    height: auto;
    box-sizing: border-box;
    margin: 50px auto auto auto;
    font-family: 'Noto Sans JP';
}
.portfolio{
    width: 100%;
    height: auto;
}
.portfolio-text1{
    font-weight: 700;
    font-size: 40px;
}

.portfolio-text2{
    width: 90%;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 25px;

}

.card-1{
    display:flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 50px;
}
.rectangle-box{
    max-width: 418px;
    width: 100%;
    height: auto;
}
.rectangle{
    max-width: 418px;
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
 
}
.rectangle-text{
    font-size: 12px;
}

.photo-title-box{
    width: 100%;
    height: auto;
}

.photo-title-text1{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}


.card-2{
    display:flex;
    flex-direction: row;
    gap: 50px;
}

.photo-title2-box2{
    width: 100%;
    height: auto;
}
.photo-title2-text2{
    width: 100%;

    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}


.rectangle-box2{
    max-width: 418px;
    width: 100%;
    height: auto;
}

.rectangle2{
    max-width: 418px;
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
}
.rectangle2-text{
    font-size: 12px;
}
h2{
    font-size: 14px;
    font-weight: 700;
    height: 46px;
}

@media screen and (max-width: 750px){
    .navbar{
        width: 100%;
    }
    .logo{
        font-size: 28px;
    }
    .menu{
        width: 100%;
        height: 180px;
        top: 80px;
        display: none;
        position:absolute;
        background: rgba(217, 217, 217, 0.9);
    }
    .button-Hamburger{
        display: flex;
        margin-right: 20px;
    }
    .show {display:block;}

    .home{
        margin-top: 15px;
        margin-left:  410px;
        margin-bottom: 20px;
    
    }
    .about{
        margin-left: 385px;
        margin-bottom: 20px;
    }
    .port{
        margin-bottom: 20px;
        margin-left:  375px;
    }
    .contact{
        margin-left:  385px;
    }
    .box{
        width: 90%;
        height: auto;
        box-sizing: border-box;
        margin: 50px auto auto auto;
        font-family: 'Noto Sans JP';
    }
    .portfolio{
        max-width: 750px;
        width: 95%;

    }
    .portfolio-text1{
        font-size: 28px;
    }
    .portfolio-text2{
        width: 100%;
        font-size: 20px;
    }
    .card-1{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 30px;
    }
    .rectangle-box{
        width: 100%;
        height: auto;
    }
    .rectangle{
        width: 100%;
    }
 
    .card-2{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }
    .rectangle-box2{
        width: 100%;
        height: auto;
    }
    .rectangle2{
        width: 100%;
    }
}