body{
    margin: 0;
}

.background-image{
    width: 100%;
    height: 800px;
    background-image: url(../image/plum.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left:auto;
}
.header{
    width: 100%;
    height: 80px;
    background: rgba(217, 217, 217, 0.5);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 194px;
    height: 44px;
    font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 32px;
    margin-left: 27px;

}
.vector{
    display: none;
    height: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 65px;
    
}
.menu div{
    font-family: 'Roboto';
}

.home{
    width: 46px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.home a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration-line: underline;
}
.about{
    width: 46px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
}

.port{
    width: 86px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;

}

.port a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration-line: underline;
}

.contact{
    width: 73px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    margin-right: 50px;
 
}

.contact a{ 
    text-decoration: none;
    color:#000;
}

a:hover{
    text-decoration-line: underline;
}
.container{

    height: 400px;
    max-width: 900px;
    width: 90%;
    margin: 250px auto auto auto;
}
.text1{
    max-width: 887px;
    height: 57px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Noto Sans JP';
    color: #fff;
    text-align: center;
   
}

.text2{
    max-width: 900px;
    height: 200px;
    font-family:'Noto Sans JP';
    font-weight: 700;
    font-size: 25px;
    font-style: normal;
    color: #FFF;
    margin:0;
}

.btn{
    width: 160px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.8);
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    float: right;
    transition: 1s;

}
a{
    color:#000;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}
.btn:hover{
    background-color: #000;
}
a:hover{
    color:  #fff;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 262px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text3{
    color: #000;
    max-width: 900px;
    width: 90%;

    height: 127px;
    font-size: 14px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 600;
    margin: 0;
 
}

@media screen and (max-width: 600px){
   
    .background-image{
        height: 420px;
        width: 100%;
        margin: 0;
    }
  
    .vector{
        height: 20px;
        margin-right: 50px;
        display: flex;
        cursor: pointer;
    }
    .menu{
        display: none;
        position:absolute;
        top: 80px;
        width: 600px;
        background: rgba(217, 217, 217, 0.9);
        height: 180px;
    }
    .menu a{
        font-size: 15px;
        font-weight: 700;
    }
    .home{
        margin-top: 15px;
        margin-left:  410px;
    
    }
    .about{
        margin-left: 500px;
    }
    .port{
        margin-bottom: 30px;
        margin-left:  375px
    }
    .contact{
        margin-left:  385px
    }
    .show {display:block;}

    .container{
        max-width: 350px;
        width: 90%;
        height: 400px;
        margin: 30px auto auto auto;
    }
    .text1{
        font-weight: 700;
        font-size: 25px;
        width: 325px;
        margin: 0;
    }
    .text2{
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        width: 325px;
        height: 99px;
        margin-bottom: 60px;
    }
    .btn{
        max-width: 325px;
        width: 90%;
        height: 40px;
        border-radius: 20px;
        margin-right: 20px;
     }

    .footer{
        display: flex;
        align-items:flex-start;
        height: 191px;
    }

    .footer-text3{
        margin-top: 50px;
        font-weight: 500;
        font-size: 14px;
        max-width: 325px;
        width: 90%;
        height: 19px;
    }
}