*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    max-width: 1600px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4b4b4;
}

.card{
    width: 80%;
    height: 300px;
    font-family: sans-serif;
    background-color: powderblue;

}
.text-box,
.text-box2,
.text-box3,
.text-box4{
    height: auto;
    margin: 45px auto;
}
.text-box h2{
    width: 100%;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 55px auto;
}

.text-box h3{
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 300;
}


.text-box2 h2{
    width: 100%;
    font-size: 40px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin: 55px auto;
}

.text-box2 h3{
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 300;
}

.text-box3 h2{
    width: 100%;
    font-size: 40px;
    color: #b4b4b4;
    font-weight: 600;
    text-align: center;
    margin: 55px auto;
}

.text-box3 h3{
    text-align: center;
    font-size: 25px;
    color: #b4b4b4;
    font-weight: 300;
}

.text-box4 h2{
    width: 100%;
    font-size: 40px;
    color: yellow;
    font-weight: 600;
    text-align: center;
    margin: 55px auto;
}

.text-box4 h3{
    text-align: center;
    font-size: 25px;
    color: yellow;
    font-weight: 300;
}
.slick-prev { 
    left: 100px;
    z-index: 1;
     background-image: url(../image/icon-prev.png);
     }
.slick-next {
     right: 150px;
        z-index: 1;
     background-image: url(../image/icon-next.png);
     }
.slick-arrow {
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}
.slick-arrow:hover { opacity: .5; }

.slick-arrow:before { display: none; }

.slick-dots li button:before {  
    font-size: 25px;
}