*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    max-width: 1850px;
    height: auto;
    display:flex;
    margin: 50px auto;

}
.section_l-side{
    width: 40px;
    height: 118px;
    background-color: #90EE90;
}

.section_r-side{
    width: 100%;
}
.section_upper{
    box-sizing: border-box;
    background-color: #4682B4;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 0px 18px 10px;
}
.section_bottom{
    box-sizing: border-box;
    background-color: #E0FFFF;
    color: #4682B4;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 0px 18px 10px;
}

.section2{
    width: 100%;
    max-width: 1850px;
    height: auto;
    margin:auto;
}
.section2_l-side{
    width: 40px;
    height: 118px;
    background-color: #000080;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding: 46px 15px;
}
.section2_r-side{
    width: 100%;
    display:flex;
}
.section2_first{
    width: 100%;
    background-color: #4682B4;
    box-sizing: border-box;
    padding: 50px 20px;
}

.section2_second{
    width: 100%;
    background-color: #4682B4;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    padding: 50px 20px;
    position: relative;
}
.section2_second:before{
    content: '';
    border-left:3px solid #fff;
    height: 98px;
    position:absolute;
    left: 0;
    top: 10px;
}
