*{
    margin: 0;
    padding: 0;
    background-color: #b4b4b4;
}

h1{
    text-align: center;
}

.box{
     margin-left: 20px;
     width: 300px;
     height: 200px;
     background: red;
     transition: width 2s;
}

.box:hover{
    width: 500px;
}

.box2{
    margin-left: 20px;
     width: 300px;
     height: 200px;
     background: yellow;
     transition: width 2s, height 2s;
     margin-top: 20px;
}

.box2:hover{
    width: 500px;
    height: 300px;
}

.box3{
    margin-left: 20px;
     width: 300px;
     height: 200px;
     background: blue;
     transition: width 2s, height 2s, transform 2s, background-color 2s;
     margin-top: 20px;
}

.box3:hover{
    background-color: white;
    width: 400px;
    height: 400px;
    transform: rotate(180deg);
}

#box4 {
    height:300px;
    width:300px;
    position:relative;
    margin-top: 20px;
    margin-left: 20px;
  }
  
#box4 img{
    position:absolute;
    width: 300px;
    height: 300px;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
#box4 img.top:hover {
    opacity:0;
  }

